{% extends 'flatpages/default.html' %}
{% load custom_tegs %}



{% block title %}
Newses
{% endblock title %}

{% block content %}
{% if is_author %}
    <p style="text-align: right;">Вы вошли как автор: {{ request.user.username }}</p>
    <p style="text-align: right;"><a href="{% url 'logout' %}">LogOut</a> </p>
{% elif is_authent and not is_author %}
    <p style="text-align: right;">Вы вошли как пользователь: {{ request.user.username }}</p>
    <p style="text-align: right;"><a href="{% url 'logout' %}">LogOut</a> </p>

{% else %}
    <p style="text-align: right;">
    <a href="http://127.0.0.1:8000/accounts/login">LogIn</a>
    </p>
{% endif %}


    <p>&nbsp;</p>
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />

         <p style="text-align: left;">Сегодня {{ time_now|date:'M d Y' }}</p>
            {% if not is_author and is_authent %}
            <a href="{% url 'create_author' %}">
                <p style="text-align: right;">Стать автором!</p>
            </a>
            {% endif %}
   </form>

     <hr>
        {% if newses %}
            <table>
                <tr>
                    <th>Название&nbsp;</th>
                    <th>&nbsp;Дата</th>
                    <th>Категория</th>
                    <th>&nbsp;Краткое содердание&nbsp;</th>
                    <th>&nbsp;Автор&nbsp;</th>
                    <th>&nbsp;Рейтинг&nbsp;</th>
                </tr>

               
                {% for news in newses|dictsortreversed:'date_creation' %}
                <tr>
                    <td><a href="{{ news.get_absolute_url }}">{{ news.title}}</a></td>
                    <td>{{ news.date_creation|date:'M d Y' }}</td>
                    <td>
                        {% for c in news.postCategory.all %}
                        <a href="{{ c.get_categories_url }}">{{ c.category }}</a>

                        {% endfor %}
                    </td>
                    <td>{{ news.text|truncatewords:20 }}</td>
                    <td>{{ news.postAuthor.authorUser.username }}</td>
                    <td>{{ news.rating }}</td>
                </tr>
                {% endfor %}

            </table>
        {% else %}
           <h2>Новостей нет!</h2>
        {% endif %}
        {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
